[Unit]
Description=Empty the radio play log every hour

[Timer]
OnCalendar=hourly
AccuracySec=1min
Persistent=false
Unit=rr-radio-plays-purge.service

[Install]
WantedBy=timers.target
